<!DOCTYPE html>
<html>

<head>

    <title>AI Discipline Coach</title>

    <link rel="stylesheet"
          href="/static/style.css">

</head>

<body>

<div class="container">

    <h1>AI Discipline Coach</h1>

    <p>
        Stop making excuses.
    </p>

    <form method="POST">

        <input type="text"
               name="goal"
               placeholder="Enter your goal">

        <button type="submit">
            Start
        </button>

    </form>

    <div class="response">

        <h2>{{ response }}</h2>

    </div>

</div>

</body>

</html>